# Chapter05 데이터베이스 오퍼레이션

### 1. 테이블의 생성

In [1]:
from hello import db
db.create_all()
db.drop_all()
db.create_all()

### 2. 행의 추가

In [2]:
from hello import Role, User

# make roles
admin_role = Role(name = 'Admin')
mod_role = Role(name = 'Moderator')
user_role = Role(name = 'User')

# make users
user_john = User(username = 'john', role = admin_role)
user_susan = User(username = 'susan', role = user_role)
user_david = User(username = 'david', role = user_role)

In [3]:
# id값이 설정되지 않아 아직 데이터베이스에 작성되지 않음
print(admin_role.id)
print(mod_role.id)
print(user_role.id)

None
None
None

#### 세션 추가

In [4]:
# object를 session에 추가합니다.
# 데이터베이스 세션은 트랜잭션(transaction)이라고도 합니다.
db.session.add(admin_role)
db.session.add(mod_role)
db.session.add(user_role)
db.session.add(user_john)
db.session.add(user_susan)
db.session.add(user_david)

In [5]:
# 데이터베이스에 오브젝트를 작성하기 위해선 세션이 commit() 메소드를 호출하여 커밋(commit)해야 합니다.
db.session.commit()

In [6]:
# 속성이 설정된 것을 확인합니다.
print(admin_role.id)
print(mod_role.id)
print(user_role.id)

1
2
3

### 3. 행의 수정

In [7]:
# admin_role을 Administrator로 수정합니다.
admin_role.name = 'Administrator'
db.session.add(admin_role)
db.session.commit()

### 4. 행의 삭제

In [8]:
# mod_role을 삭제합니다.
db.session.delete(mod_role)
db.session.commit()

### 5. 행의 쿼리

In [9]:
# Role의 전체 내용을 리턴합니다.
Role.query.all()

In [10]:
# User의 전체 내용을 리턴합니다.
User.query.all()

In [11]:
# User에서 role이 user_role인 것만을 리턴합니다.
User.query.filter_by(role = user_role).all()

In [12]:
# str() 명령어를 통해 네이티브 SQL쿼리를 알 수 있습니다.
str(User.query.filter_by(role = user_role))

'SELECT users.id AS users_id, users.username AS users_username, users.role_id AS users_role_id \nFROM users \nWHERE ? = users.role_id'

In [13]:
# 아직 실행하지 않은 쿼리를 리턴합니다. (lazy = "dynamic" 추가)
user_role.users.order_by(User.username).all()

In [14]:
user_role.users.count()

2