# CHAPTER3 데이터 타입과 기본 연산자

- 변수 선언
- 정수
- 실수
- 정수와 실수의 연산
- 문자열
- 문자열의 연산
- 리스트
- 딕셔너리
- 집합
- 튜플

---

### 3.1 변수 선언

In [1]:
diva = 'Song Hana'
is_she_play_to_win = True
digital_diva = "Hatsune Miku"
diva_version = 3.0
how_many_diva = 2
diva_list = [diva, digital_diva]
new_challenger = {"name" : "Miku"}

In [2]:
print(type(diva))
print(type(is_she_play_to_win))
print(type(digital_diva))
print(type(diva_version))
print(type(how_many_diva))
print(type(diva_list))
print(type(new_challenger))

<class 'str'>
<class 'bool'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'list'>
<class 'dict'>

### 3.2 정수

In [3]:
# 매우 큰 숫자도 처리 가능
i = 39
i2 = -3
biiiiig_int = 99999999999999999999999999999999999999999999999999

print(i)
print(i2)
print(biiiiig_int)

39
-3
99999999999999999999999999999999999999999999999999

### 3.3 실수

In [4]:
f = 0.9999
f2 = 3.141592
f3 = -3.9
f4 = 3/9

print(f)
print(f2)
print(f3)
print(f4)

0.9999
3.141592
-3.9
0.3333333333333333

### 3.4 정수와 실수의 연산

In [5]:
# 변수선언
i1 = 39
i2 = 939
big_int1 = 123456789123456789012345678901234567890
big_int2 = 999999999999999999999999999999999999999
f1 = 1.234
f2 = 3.939

In [6]:
# 더하기(+)
print("i1 + i2 : ", i1 + i2) # 정수끼리
print("f1 + f2 : ", f1 + f2) # 실수끼리
print("big_int1 + big_int2 : ", big_int1 + big_int2) #엄청 큰 수끼리
print("i1 + f1 : ", i1 + f1) #실수와 정수끼리

i1 + i2 :  978
f1 + f2 :  5.173
big_int1 + big_int2 :  1123456789123456789012345678901234567889
i1 + f1 :  40.234

In [7]:
# 빼기(-)
print("i1 - i2: ", i1 - i2) # 정수끼리
print("f1 - f2: ", f1 - f2) # 실수끼리
print("big_int1 - big_int2: ", big_int1 - big_int2) #엄청 큰 수끼리
print("i1 - f1: ", i1 - f1) #실수와 정수끼리

i1 - i2:  -900
f1 - f2:  -2.705
big_int1 - big_int2:  -876543210876543210987654321098765432109
i1 - f1:  37.766

In [8]:
# 곱하기(*)
print("i1 * i2: ",i1 * i2) # 정수끼리
print("f1 * f2: ",f1 * f2) # 실수끼리
print("big_int1 * big_int2: ",big_int1 * big_int2) #엄청 큰 수끼리
print("i1 * f1: ",i1 * f1) #실수와 정수끼리

i1 * i2:  36621
f1 * f2:  4.860726
big_int1 * big_int2:  123456789123456789012345678901234567889876543210876543210987654321098765432110
i1 * f1:  48.126

In [9]:
# 나누기(/)
print("i2 / i1: ", i2 / i1) # 정수끼리
print("f2 / f1: ", f2 / f1) # 실수끼리
print("big_int2 / big_int1: ", big_int2 / big_int1) #엄청 큰 수끼리
print("i1 / f1: ", i1 / f1) #실수와 정수끼리
print("f1 / i1: ", f1 / i1)

i2 / i1:  24.076923076923077
f2 / f1:  3.1920583468395463
big_int2 / big_int1:  8.10000006561
i1 / f1:  31.60453808752026
f1 / i1:  0.03164102564102564

In [10]:
# 몫(//)
print("i2 // i1: ", i2 // i1) # 정수끼리
print("f2 // f1: ", f2 // f1) # 실수끼리
print("big_int2 // big_int1: ", big_int2 // big_int1) #엄청 큰 수끼리
print("i1 // f1: ", i1 // f1) #실수와 정수끼리
print("f1 // i1: ", f1 // i1)

i2 // i1:  24
f2 // f1:  3.0
big_int2 // big_int1:  8
i1 // f1:  31.0
f1 // i1:  0.0

In [11]:
# 나머지(%)
print("i1 % i2 :", i1 % i2) # 정수끼리
print("f1 % f2 :", f1 % f2) # 실수끼리
print("big_int1 % big_int2 :", big_int1 % big_int2) #엄청 큰 수끼리
print("i1 % f1 :", i1 % f1) #실수와 정수끼리
print("f1 % i1 :", f1 % i1)

i1 % i2 : 39
f1 % f2 : 1.234
big_int1 % big_int2 : 123456789123456789012345678901234567890
i1 % f1 : 0.7460000000000004
f1 % i1 : 1.234

In [12]:
# 제곱(**)
print("2 ** 3: ", 2 ** 3) # 2의 3승.
print("i1 ** i2: ", i1 ** i2) # 정수끼리
print("f1 ** f2: ", f1 ** f2) # 실수끼리
print("i1 ** f1: ", i1 ** f1) #실수와 정수끼리
print("f1 ** i1: ", f1 ** i1)

2 ** 3:  8
i1 ** i2:  1022506312626635583804665030439848517886568042318083335883591278398438037288741990566558622100138406141643558158275024105444365536879201660885612644021445261444940742179797251796081892688027914559485473798772396512743732340523023151763660943751019131006308098788307144783696606939051578708338398053028367082638273189192434285150846461558297694776902793801564417306838969109663906055052907811614020360408193312813992026141346881644852197209917516412059364266098525652931099021885382041007793566316514615169179944928856384530132713368424697747100417896428655313414528755698998321671054850811102964679789653723028769348909103153993982582100515416669313157230956389993552417454656410560599758074525741542650281866589385696863929193963058181665847576483338830549810589782953329729597632595024734286078284939382833418335640042579137106857539338373422439805326922155940680240986288345037060969659512427144030964154102951713380645977336411938613440920613823685184818054548437463240254014958456975735050353322662241529452981520149054985517676452974236772432487364293991470964099037797636014730970362515008030368654913029567190786024079384496497756671771817107140203810333022334649590282423942722147721919738626342294242915008528804177851320976364543109216532895238412244610627773269723239459235317671518827568480961721312764409452089860018349101981333363883093727283973691806925736612803559125010274993787069849308224144485220613402198029509103574257814462424323830881877483524940133039777525461756147959
f1 ** f2:  2.289235194260789
i1 ** f1:  91.91231928197118
f1 ** i1:  3641.5915127246435

### 3.5 문자열

#### 3.5.1 기본

In [13]:
diva = "Miku"
another_diva = 'Song Hana'

print(type(diva))
print(type(another_diva))

<class 'str'>
<class 'str'>

In [14]:
# \ : 평소와는 다른 방식을 쓰임
escape_s1 = "This is \"double quote\""
escape_s2 = 'This isn\'t'

print(escape_s1) # 큰따옴표가 문자를 인식하는게 아닌 그 자체가 문자로써 쓰이도록 함
print(escape_s2) # 작은따옴표가 문자를 인식하는게 아닌 그 자체가 문자로써 쓰이도록 함

This is "double quote"
This isn't

In [15]:
# \t : tab 기능
s1 = "Tab \tThis"
print(s1)

Tab 	This

In [16]:
# \n : 한줄 띄어쓰기
s2 = "New Line\nHello!"
print(s2)

New Line
Hello!

#### 3.5.2 raw 문자열 표현법

In [17]:
# 역슬래시가 위의 방식이 아닌 문자 그대로 사용하고 싶을때는 r을 사용

raw_s1 = r'C:\Programs\new program\"'
raw_s2 = r"\\t\n\b\s"
raw_s3 = r'\'"'
raw_s4 = r"\"'"

# 역슬래시가 문자로 인식되어 출력
print(raw_s1)
print(raw_s2)
print(raw_s3)
print(raw_s4)

C:\Programs\new program\"
\\t\n\b\s
\'"
\"'

#### 3.5.3 멀티라인 문자열 표현법

In [18]:
# 따옴표 3개를 이용 (""" """)
multi_s = """이 문자열은
멀티라인
문자열입니다"""

print(multi_s)

이 문자열은
멀티라인
문자열입니다

In [19]:
# 멀티라인에서 문장의 끝에 역슬래시(\)가 붙은 문장은 띄어쓰기가 안되고 다음문장이랑 이어짐
multi_s2 = '''이 문자열 역시 \
멀티라인 문자열입니다.\
한 줄의 마지막에
역슬래시를 붙이면
줄바꿈이 \
되지 않습니다.
'''

print(multi_s2)

이 문자열 역시 멀티라인 문자열입니다.한 줄의 마지막에
역슬래시를 붙이면
줄바꿈이 되지 않습니다.

### 3.6 문자열의 연산

In [20]:
# 횟수를 연산할 수 있음
diva = "Miku"
first_sound = "Hatsune"

print(3*diva)
print(first_sound+diva)

MikuMikuMiku
HatsuneMiku

### 3.7 리스트

In [21]:
# 리스트 타입엔 제한이 없음 []
l1 = [1, 2, 3]
l2 = ["a", "b", "c", "diva"]
l3 = ['miku', 39]
l4 = [[0, 1], [2, 3], [4, 5]]

print(l1)
print(l1[0])
print(l2)
print(l2[1])
print(l3)
print(l3[0])
print(l4)
print(l4[2][1])

[1, 2, 3]
1
['a', 'b', 'c', 'diva']
b
['miku', 39]
miku
[[0, 1], [2, 3], [4, 5]]
5

In [22]:
# list()를 사용해 리스트 생성
l5 = list("Hatsune Miku")

# 위에서 생성한 리스트를 이용해 새로 리스트를 생성합니다.
l6 = list(l1+l2+l3)

print(l5)
print(l6)

['H', 'a', 't', 's', 'u', 'n', 'e', ' ', 'M', 'i', 'k', 'u']
[1, 2, 3, 'a', 'b', 'c', 'diva', 'miku', 39]

In [23]:
# 음수 인덱스 사용 가능

l5 = [ 0, 1, 2, 3, 4, 5]

print("l5 = ", l5)
print("l5[-1] = ", l5[-1])
print("l5[-2] = ", l5[-2])
print("l5[-6] = ", l5[-6])

l5 =  [0, 1, 2, 3, 4, 5]
l5[-1] =  5
l5[-2] =  4
l5[-6] =  0

#### 3.7.1 리스트 연산

In [24]:
# 리스트 자체를 빠르게 다룰 수 있음
l1 = [1, 2, 3]
l2 = [4, 5, 6]

print("l1 + l2 = ", l1 + l2)
print("l1 * 3 =", l1 * 3)

l1 + l2 =  [1, 2, 3, 4, 5, 6]
l1 * 3 = [1, 2, 3, 1, 2, 3, 1, 2, 3]

#### 3.7.2 리스트 아이템에 접근하기

In [25]:
# index를 이용해 데이터에 접근
l1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

print("l1 = ", l1)

# 9번째 인덱스 이후만 가져오기.
print("l1[9:] = ", l1[9:])

# 15번째 인덱스 이전만 가져오기.
print("l1[:15] = ", l1[:15])

# 2번째마다의 아이템을 가져오기.
print("l1[::2] = ", l1[::2])

# 7번째마다의 아이템을 가져오기.
print("l1[::7] = ", l1[::7])

# 5번째부터 시작해서 2번째마다 아이템을 가져오기.
print("l1[5::2] = ", l1[5::2])

# 17번째 이전까지 매 4번째마다 아이템을 가져오기.
print("l1[:17:4] = ", l1[:17:4])

# 7번째부터 시작해서 3번째마다 아이템을 가져오고, 15번째를 전달하지 않기.
print("l1[7:15:3] = ", l1[7:15:3])

l1 =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
l1[9:] =  [9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
l1[:15] =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
l1[::2] =  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
l1[::7] =  [0, 7, 14]
l1[5::2] =  [5, 7, 9, 11, 13, 15, 17, 19]
l1[:17:4] =  [0, 4, 8, 12, 16]
l1[7:15:3] =  [7, 10, 13]

#### 3.7.3 문자열을 리스트처럼 다루기

In [26]:
# 특정 구간을 잘라낼 때 매우 편리
s1 = "Hatsune Miku"

print("s1 =", s1)

print("s1[2] =", s1[2])
print("s1[8:] =", s1[8:])
print("s1[-4:] =", s1[-4:])
print("s1[:7] =", s1[:7])
print("s1[::2] =", s1[::2])

s1 = Hatsune Miku
s1[2] = t
s1[8:] = Miku
s1[-4:] = Miku
s1[:7] = Hatsune
s1[::2] = HtueMk

### 3.8 딕셔너리

In [27]:
# {key : value} 형태, key 하나에 2개이상의 value값을 가질 순 없음 (오직 하나의 value만)
d1 = {
    True:"Yes! This is True!!!",
    False:"Nope",
    39:"Miku",
    39.39:"Hatsune",
    "Diva":"Song Hana",
    }

# True and False
print(d1[True])
print(d1[False])
print(d1[1 > 0]) # True이기 때문에 True에 지정되어 있는 문자열이 반환
print(d1[-1 > 0]) # False이기 때문에 False에 지정되어 있는 문자열이 반환

# numbers
miku = 39
print(d1[39])
print(d1[39.39])
print(d1[miku])

# String
print(d1["Diva"])

Yes! This is True!!!
Nope
Yes! This is True!!!
Nope
Miku
Hatsune
Miku
Song Hana

In [28]:
# dict() 메소드를 사용해 딕셔너리 생성
# 단, dict()을 사용할 경우는 키 값이 문자열이어야 함

d2 = dict(on=999, off=100, l=[1, 2, 3], s="miku")

print(d2)

{'on': 999, 'off': 100, 'l': [1, 2, 3], 's': 'miku'}

### 3.9 집합

In [29]:
# 딕셔너리에 키값만 있는 형태 
# 키는 고유값을 가져야 하며 순서는 상관 없음

set1 = {"h", "e", "l", "l", "o", "h", "a", "t", "s", "u", "n", "e"} # 문자열에서 중복된 단어 자동으로 제거
set2 = {"m", "i", "k", "u", "l", "o", "v", "e"} # 문자열에서 중복된 단어 자동으로 제거
set3 = set("Song hana") # 문자열에서 중복된 단어 자동으로 제거

print(set1)
print(set2)
print(set3)

{'e', 't', 'l', 'n', 'u', 'o', 'a', 's', 'h'}
{'i', 'e', 'l', 'm', 'u', 'v', 'o', 'k'}
{'a', 'g', 'o', 'S', 'n', ' ', 'h'}

In [30]:
# 교집합
print(set1 & set2)

# 합집합
print(set1 | set2)

# 차집합
print(set1 - set2)

{'e', 'l', 'u', 'o'}
{'e', 't', 'l', 'i', 'k', 'm', 'n', 'u', 'v', 'o', 'a', 's', 'h'}
{'t', 'a', 'n', 's', 'h'}

### 3.10 튜플

In [31]:
# 리스트와 비슷하지만 변경할 수 있는 데이터 타입, ()로 지정
t1 = (5, 6, 7, 8, 9)

print(t1)
print(t1[0])
print(t1[3:])
print(t1[:2])

(5, 6, 7, 8, 9)
5
(8, 9)
(5, 6)

In [32]:
# error발생 (변경 불가능)
t1[0] = 1

TypeError: 'tuple' object does not support item assignment